<div id='new'>
  <h1 class='text-center'>New Contact</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="firstName" class="form-control" id="firstNameInput" placeholder="">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="lastName" class="form-control" id="lastNameInput" placeholder="">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="address" class="form-control" id="addressInput" placeholder="Ex: 583 Jones St. Atlanta, GA ">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="phone" class="form-control" id="phoneInput" placeholder="###-###-####">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="email@email.com">
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="birthday" class="form-control" id="birthdayInput" placeholder="##/##/####">
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="website" class="form-control" id="websiteInput" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
</div>